<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531766623881-jrtmor8so8fq8q9ep3tibolc7avq78p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531766623881-jrtmor8so8fq8q9ep3tibolc7avq78p1</string>
	<key>API_KEY</key>
	<string>AIzaSyBfKId5-vujF6-HIHW1fb7a1tFdWE31jmE</string>
	<key>GCM_SENDER_ID</key>
	<string>531766623881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthSteshkin</string>
	<key>PROJECT_ID</key>
	<string>diplomst</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomst.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531766623881:ios:b070c9c8358c4a3f34d058</string>
</dict>
</plist>